.body{
    color: black;
    margin-top: 10px;
    width: 97%;
    max-width: 1120px;
    margin: auto;
}

.right-card{
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.one{
    width: 70%;
}

.two img{
    border: 1px solid green;
    box-sizing: border-box;
}

.two h3{
    font-size: 18px;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
}

.one h5{
    font-size: 15px;
}

.card{
    margin-right: 10px;
}

.bg{
    background-color: green;
}

.card h5{
    color: white;
}

.update{
    padding-top: 20px;
}

.cadr-head{
    background-color: rgb(117, 117, 117);
    padding: 10px 0px;
    margin-top: 30px;
    text-align: left;
}
.head-logo{
    width: 40px;
    padding-right: 10px;
    padding-left: 5px;
}


@media only screen and (max-width: 600px) {
    .right-card {
        display: block;
    }
    .card-title {
        font-size: 15px;
    }
  }

  /* for moving text */
  .marquee span{
    color: green;
    font-size: 18px;
  }

@keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
    }
}

.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span{
    display: inline-block;
    padding-left: 100%;
    animation: scroll 20s infinite linear;
}

.mpsir{
    color: black;
    font-size: 22px;
    background-color: rgba(95, 93, 93, 0.658);
    padding: 3px;
    font-weight: bold;
}